<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("Links.ejs") -%>
</head>
<body class="bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="row my-5"></div>
                    <form action="/updatePassword" method="post">
                     
                      <h1 class="h3 mb-3 fw-normal text-center text-light">New Password</h1>
                      <input type="hidden" value="<%- id %>" name="id">
                      <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com" name="Npass">
                        <label for="floatingInput">Enter new password</label>
                      </div>

                      <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com" name="Cpass">
                        <label for="floatingInput">Confirm password</label>
                      </div>

                      <button class="btn btn-warning w-100 py-2" type="submit">Update</button>
                    </form>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</body>
</html>